<div id="collection-page">
	<section
		style="background-image: url('{{ collection.image | img_url }}');"
		class="hero"
	>
		<h1 class="hero-text">{{ collection.handle }}</h1>
	</section>
	<div class="filter-wrapper">
		<p class="results">{{ collection.all_products_count }} results</p>
		<select class="input--dropdown">
			<option disabled="disabled" selected="selected" value="">
				Sort
			</option>
			<option>Newest Arrival</option>
			<option>A - Z</option>
			<option>Z - A</option>
			<option>Price Low to High</option>
			<option>Price High to Low</option>
		</select>
	</div>
	<div class="collection-list">
		{% for product in collection.products %}
		<div class="product-card">
			{% assign firstAvailable = product.first_available_variant %}
			<img
				{%
				if
				firstAvailable.image.src
				%}
				src="{{ firstAvailable.image.src | img_url: 'large' }}"
				{%
				endif
				%}
				class="product-image"
				alt="Product Picture"
			/>
			<div class="product-info">
				<p class="product-text">{{ product.title }}</p>
				<p class="product-text">
					{{ product.price_min | | money_without_currency }}
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
