<section
	style="background-image: url('{{ collection.image | img_url }}');"
	class="hero"
>
	<h1 class="hero-text">{{ collection.handle }}</h1>
</section>

<div id="collection-page">
	<div class="filter-wrapper">
		<p class="results">{{ collection.all_products_count }} results</p>
    <div class="sort-by--container">
      <select id="sort-by" class="sort-by input--dropdown">
        {% for option in collection.sort_options %}
          <option value="{{ option.value }}"{% if option.value == collection.sort_by %} selected{% endif %}>{{ option.name }}</option>
        {% endfor %}
      </select>
  </div>

	</div>
	<div class="collection-list">
		{% for product in collection.products %}
		<div class="product-card">
			{% assign firstAvailable = product.first_available_variant %}
			<img
				{%
				if
				firstAvailable.image.src
				%}
				src="{{ firstAvailable.image.src | img_url: 'large' }}"
				{%
				endif
				%}
				class="product-image"
				alt="Product Picture"
			/>
			<div class="product-info">
				<p class="product-text">{{ product.title }}</p>
				<p class="product-text">
					{{ product.price_min | | money_without_currency }}
				</p>
				<div class="product-options">
					<button class="option-bubble option-one"></button>
					<button class="option-bubble option-two"></button>
					<button class="option-bubble option-three"></button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
